@use "../variables" as *;

html .topbar {
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header-height;
  background-color: var(--mat-sys-background);
}

.topbar-dd {
  min-width: 360px !important;
}

.apps-dd {
  min-width: 830px !important;
  overflow: unset !important;

  .mat-mdc-menu-content {
    padding: 0;
  }
}

.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.upgrade-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

// perfect scroll
.ps__rail-y {
  right: 0;
  left: unset !important;
}

.profile-dd {
  margin-top: -5px;
  margin-left: -5px;
}

.badge-position {
  position: absolute;
  top: 0;
  right: 0;
}

.dark-theme {
  .topbar {
    .mat-mdc-icon-button {
      color: $dark-text-secondary !important;
    }
    .mdc-button {
      --mat-button-text-label-text-color: $dark-text-secondary !important;
    }
  }
}

.header-collpase {
  position: absolute;
  top: $header-height;
  background: var(--mat-sys-background);
  width: 100%;
  left: 0;
  box-shadow: var(--mat-sys-level1);
}
