@use "sass:map";
@use "@angular/material" as mat;

html.pink_theme {
  --mat-sys-primary: #C7346F;
  --mat-sys-primary-fixed-dim: #C7346F;
  --mat-sys-secondary: rgb(94, 36, 77);
  --mat-sys-secondary-fixed-dim: rgb(94, 36, 77, 0.15);
  --mat-sys-tertiary: rgb(94, 36, 77);
}
